#home .category {
    padding-right: 10px; 
}
#home h1 {
    font-size: 30px;
}
.post-title {
    font-size: 30px;
}
#home ul {
    padding-left: 40px;
}
#post ol {
    padding-left: 40px;
    font-size: 14px;
}
#post h2 {
    font-size: 22px;
}
#post p {
    font-size: 14px;
}