---
layout: default
---
<div class="large-12 columns" role="content">
  <div id="home">
    <h2>Categories</h2>
    <p>
    {% for category in site.categories %}
    <span class="category"><a href="#{{category[0]}}">{{category[0]}}</a></span>
    {% endfor %}
    </p>
    
    <h2>Posts by category</h2>
    {% for category in site.categories %}
    <p>
    <a name="{{category[0]}}"></a>
    <h3>{{ category[0] }}</h3>
    <ul>
      {% for post in category[1] %}
      <li><a href="{{post.url}}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    </p>
    {% endfor %}
  </div>
</div>
