---
layout: content_main
---
<section id="post">
<h2 class="title">{{ page.title }}</h2>
<p class="date">{{ page.date | date_to_string }}</p>

{{ content }}
</section>

{% if page.left or page.right %}
<section id="series-nav">
  <div class="large-6 columns" id="series-prev">
    {% if page.left %}
    <a href="{{ page.left.url }}"><< Previous: {{ page.left.title }}</a>
    {% endif %}
  </div>
  <div class="large-6 columns" id="series-next">
    {% if page.right %}
    <a href="{{ page.right.url }}">Next: {{ page.right.title }} >></a>
    {% endif %}
  </div>
</section>
{% endif %}
